/*Solo estilos para normalizar*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    
}

body {
    font-family: var(--TipografiaGeneral);
    background-color: var(--ColorFondo);
}


.hola {
    &:hover{
        transform: scale(1.1);
    }
}

/*Navbar*/
.btn-outline-success:hover {
    background-color:var(--ColorFondo); /* Cambia el color de fondo */
    border-color:white; /* Cambia el color del borde */
    color: white; /* Cambia el color del texto */
  }

